.Home {
    margin-top: 100px;
}

hr {
    border-color: rgba(237, 237, 237, 1);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding: 80px 0px;
}

main > * {
    margin: 10px 0px;
}

.arrow {
    margin: 0px 5px;
}

.Status {
    display: flex;
}

.Status > * {
    margin: 0px 10px;
}

.AppBar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppBar > h1 {
    font-size: 16px;
}

.AppBar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppBar > div > p {
    margin-right: 50px;
}
