.Home {
    margin-top: 100px;
}

hr {
    border-color: rgba(237, 237, 237, 1);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding: 80px 0px;
}

main > * {
    margin: 10px 0px;
}

.arrow {
    margin: 0px 5px;
}

.Status {
    display: flex;
}

.Status > * {
    margin: 0px 10px;
}

.AppBar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppBar > h1 {
    font-size: 16px;
}

.AppBar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppBar > div > p {
    margin-right: 50px;
}

.round {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.round > span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.All > span {
    background-color: rgba(230, 230, 230, 1);
    color: black;
}

.open > span {
    background-color: rgba(40, 110, 241, 1);
}

.feedback > span {
    background-color: rgba(144, 38, 177, 1);
}

.resolved > span {
    background-color: rgba(82, 209, 148, 1);
}
