.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 80px 0px;
}

.NotFound > img {
    height: 150px;
    width: 150px;
}

.NotFound > * {
    margin: 10px 0px;
}
